.video-section {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.outro-video {
  z-index: 20;
  position: relative;
  background-color: #121212;
}

.horizontal-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  .scroll-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
    transition: transform 0.3s ease-out;
  }

  .slides {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: fit-content;
  }

  .slide {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-color: #121212;
  }
}

.slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 130px;
    font-weight: bold;
    margin-top: -10px;
    color: #fcf3e3;
  }

  .image-container {
    width: 100%;
    height: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slide3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px;

  .video-container {
    max-width: 1200px;
    width: 100%;
    height: 600px;
    z-index: 100;
    position: relative;

    .video-glow {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      pointer-events: none;
      background: radial-gradient(circle, #1563ff 0%, transparent 70%);
      opacity: 0;
      mix-blend-mode: screen;
      z-index: 2;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      border-radius: 20px;
      position: relative;
      z-index: 1;
    }
  }
  .text-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 16rem;
      font-weight: bold;
      color: #fcf3e3;
    }
  }
}

.slide4 {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;

  .image-slider-wrapper {
    position: absolute;
    width: 50%;
    height: 150%;
    top: -300px;
    left: 50%;
    transform: translate(-50%, 0) rotate(15deg);
    transform-origin: center;
    overflow: hidden;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .image-slider img {
    margin: -50px 0;
    width: 100%;
    height: auto;
    display: block;
  }

  .cta-content {
    position: absolute;
    right: 10%;
    bottom: 15%;
    font-size: 26px;
    z-index: 30;

    p {
      width: 10ch;
      color: #fcf3e3;
    }

    button {
      margin-top: 20px;
      background: none;
      border: none;
      font-size: 26px;
      cursor: pointer;
      color: #fcf3e3;
      position: relative;
      background-image: linear-gradient(to right, #1563ff 50%, #fcf3e3 50%);
      background-size: 200% 100%;
      background-position: 100% 0;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease;

      &:hover {
        background-position: 0 0;
        transform: scale(1.05);
      }
    }
  }

  .text-slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h3 {
      position: absolute;
      left: -30%;
      text-wrap: nowrap;
      font-size: 150px;
      font-weight: bold;
      margin-top: -10px;
      opacity: 100%;
    }
  }
}

.slide5 {
  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10%;

    .image-wrapper {
      width: 210px;
      height: 210px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: transform 0.3s ease;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.2);
          transition: transform 0.3s ease;
        }
      }
    }

    .black-square {
      width: 210px;
      height: 210px;
      background-color: #121212;
    }
  }

  h2 {
    font-size: 16rem;
    margin-inline: auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
    z-index: 10;
    transition: transform 0.3s ease-out;
  }

  .footer-section {
    background: #000;
    padding: 4rem 2rem;
    color: #fff;
    text-align: center;
    height: 300px;
  }

  @media screen and (max-width: 1560px) {
    .image-wrapper {
      width: 160px !important;
      height: 160px !important;
    }

    .black-square {
      width: 160px !important;
      height: 160px !important;
    }
  }

  h2 {
    font-size: 12rem;
  }
  @media screen and (max-width: 1440px) {
    .image-wrapper {
      width: 150px !important;
      height: 150px !important;
    }

    .black-square {
      width: 150px !important;
      height: 150px !important;
    }
  }

  h2 {
    font-size: 12rem;
  }
}
