.mobile-services-section {
  position: relative;

  .mobile-title-wrapper {
    position: sticky;
    top: 30px;
    height: 0;
    z-index: 99;
    pointer-events: none;

    .mobile-title {
      margin-left: 10px;
    }
  }

  .section-one {
    height: 100vh;

    .video-container {
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .section-two {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #080808;
    overflow: hidden;

    .text-wrapper {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;

      p {
        margin-left: -25%;
        font-size: 5rem;
        font-weight: 600;
        line-height: 70px;
        text-wrap: nowrap;
        will-change: transform;
        transform: translateX(0);
      }
    }

    .image-container {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(15deg);
      }
    }
  }

  .section-three {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 9rem;
    }
  }

  .section-four {
    padding: 4vh 0;
    overflow: hidden;
    position: relative;

    .image-slider-wrapper {
      overflow: hidden;
      height: 100vh;
      transform: rotate(15deg) scale(1.2);

      .image-slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 450px;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .text-slider {
      margin-top: 5rem;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      h3 {
        font-size: 3rem;
        white-space: nowrap;
        color: #1563ff;
      }
    }
  }

  .section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #080808;
    padding: 4rem 0 0;
    border: 1px solid white;
    overflow: hidden;

    h2 {
      font-size: 4rem;
      color: white;
    }

    .image-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .image-wrapper img {
        width: 100%;
        object-fit: cover;
      }

      .black-square {
        background-color: #080808;
      }
    }
  }
}
